aiohttp==1.0.5
async-timeout==2.0.0
cffi==1.11.2
chardet==3.0.4
discord.py==0.16.12
multidict==3.3.2
olefile==0.44
opuslib==2.0.0
Pillow==4.3.0
pycparser==2.18
PyNaCl==1.2.1
six==1.11.0
websockets==3.4
youtube-dl==2017.12.2
